{% extends 'base.html' %}
{% load static %}
{% block content %}
        
<div class="container-fluid flex-grow-3 container-p-y">
   <!-- Basic Layout -->
   <div class="row">
    <div class="col-xl">
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0 py-3">Location/<span class="text-muted fw-light">Country</span></h5>
        </div>
        {% if messages %}
          {% for message in messages %}
          {% if message.tags == 'success' %}
            <div class="alert alert-success alert-dismissible" role="alert">
              {{message}}
              
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% elif message.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible" role="alert">
              {{message}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endif %}
          {% endfor %}
        {% endif %}
        <div class="card-body">
          <form action="{% url 'country' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
          <div class="row">
            <div class="mb-3 col-md-6">
              <label class="form-label" for="basic-default-fullname">Country Name</label>
              <input type="text" class="form-control" id="basic-default-fullname" placeholder="Country Name" name="c_name"/>
            </div>
            <div class="mb-3 col-md-6">
              <label class="form-label" for="basic-default-company">Slug</label>
              <input type="text" class="form-control" id="basic-default-company" placeholder="Slug" name="slug"/>
            </div>
            <div class="mb-3 col-md-4">
              <label class="form-label" for="basic-default-email">Code</label>
                <input
                  type="text"
                  id="basic-default-email"
                  class="form-control"
                  placeholder="Code"
                  aria-describedby="basic-default-email2" 
                  name="code"/>
            </div>
              <div class="mb-3 col-md-3">
                <label for="formFile" class="form-label">Country Flag</label>
                <input class="form-control" type="file" id="formFile" name="flag">
              </div>
            <div class="mb-3 mt-5 col-md-3">
                <input class="form-check-input" type="checkbox" value="1" id="defaultCheck1" name="state_available">
                <label class="form-check-label" for="defaultCheck1"> State Available </label>
            </div>
          </div>
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / Content -->

 <!-- Basic Bootstrap Table -->
 <div class="card mb-5">
  <h5 class="card-header">Country Table</h5>
  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
        <tr>
          <th>Sr. No.</th>
          <th>Country Name</th>
          <th>Flag</th>
          <th>Code</th>
          <th>UUID</th>
          <th>Slug</th>
          <th>Add State</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for c_obj in countryobj %}
        <tr>
          <td>
            <span class="fw-medium">{{forloop.counter}}</span>
          </td>
          <td>{{c_obj.name}}</td>
          <td>
            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
              <li
                data-bs-toggle="tooltip"
                data-popup="tooltip-custom"
                data-bs-placement="top"
                class="avatar avatar-xs pull-up"
                title="Sophia Wilkerson">
                <img src="{{c_obj.flag.url}}" alt="Avatar" class="rounded-circle" />
              </li>
            </ul>
          </td>
          <td>{{c_obj.code}}</td>
          <td>{{c_obj.uuid}}</td>
          <td>{{c_obj.slug}}</td>
          <td>
            {% if c_obj.is_state_available %}
              <button type="button" class="btn rounded-pill btn-outline-dark">Add City</button>
            {% else %}
              <button type="button" class="btn rounded-pill btn-outline-dark">Add State</button>
            {% endif %}
            </td>
          {% if c_obj.is_active %}
            <td><a href="{% url 'country' c_obj.slug %}"><span class="badge bg-label-success me-1">Active</span></a>
          {% else %}
            <td><a href="{% url 'country' c_obj.slug %}"><span class="badge bg-label-danger me-1">In-Active</span></a>
          {% endif %}
        </td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                <i class="bx bx-dots-vertical-rounded"></i>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'updateform' c_obj.slug %}">
                  <i class="bx bx-edit-alt me-1"></i> Edit</a>
                <form action="{% url 'country' c_obj.slug %}" method="post">
                  {% csrf_token %}
                  <button class="dropdown-item">
                    <i class="bx bx-trash me-1"></i>Delete</button>
                </form>
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!--/ Basic Bootstrap Table -->
</div>
              
{% endblock content %}
